@model IEnumerable<BookShelfHaven5.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<style>
    .book-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 20px;
    }

    .book {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid #ddd;
        padding: 10px;
    }

    .product--image {
        width: 100%;
    }

    .product--content {
        padding-top: 10px;
    }
</style>

<h1>Books</h1>

<h3> <div class="center"> from our wide range of books to see which one fits your needs.</div></h3>
<a asp-action="Index" asp-controller="Checkout" class="btn btn-success">View Cart</a>


<div class="book-grid">
    @foreach (var item in Model)
    {
        <div class="book">
            <div class="li portrait has-form">
                <figure>
                    <a href="@Url.Action("Details", "Products", new { id = item.ProductId })">
                        <img src="@item.ImageUrl" alt="@item.ImageUrl" class="product--image">
                    </a>
                </figure>
                <div class="product--content">
                    <div>
                        <h3 class="product-collection--title"><a href="@Url.Action("Details", "Products", new { id = item.ProductId })">@item.ProductNames</a></h3>
                    </div>
                    <div class="author--container">
                        <span class="author-title">@item.ProductNames</span>
                        
                    </div>
                    <div class="static">
                        <p class="price">@item.Price</p>
                        <form asp-controller="HomePage" asp-action="AddToCart" method="post">
                            <input type="hidden" name="ProductId" value="@item.ProductId" />
                            <input type="hidden" name="ProductNames" value="@item.ProductNames" />
                            <input type="hidden" name="Description" value="@item.Description" />
                            <input type="hidden" name="Price" value="@item.Price" />
                            <button type="submit" class="btn btn-primary">Add to Cart</button>
                        </form>
                            
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
